main {
  background-image: url("../images/man-prog2.jpg");
  color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
}

nav {
  opacity: 0.5;
  background-color: white;
  font-weight: bolder;
}

#container {
  display: flex;
  flex-wrap: wrap;
}
h1 {
  color: white;
  text-shadow: 2px 2px 5px black;
  text-align: center;
}
.row {
  width: 100%;
}
.card {
  width: 75%;
}
.s6 {
  display: flex;
  justify-content: center;
}
p {
  font-size: 18pt;
}
