main {
  color: black;
}

body {
  background: url(../images/pro-plant.jpg);
  background-size: cover;
}
nav {
  background-color: transparent;
  opacity: 1.5;
  font-weight: bolder;
}

#container {
  display: flex;
  flex-wrap: wrap;
}
h1 {
  color: black;
  /* text-shadow: 2px 2px 5px black; */
  text-align: center;
}
.row {
  width: 100%;
}
.card {
  width: 75%;
}
.s6 {
  display: flex;
  justify-content: center;
}
p {
  font-size: 18pt;
}
nav {
  background-color: whitesmoke;
  opacity: 0.3;
  font-weight: bolder;
}
.card {
  background: url(../images/grey_wash_wall.png);
  color: white;
}
