body {
  height: 100%;
  width: 100%;

  background: url(../images/bgnoise_lg.png);
  background-repeat: repeat;
  text-align: center;
  /* position: fixed; */


}

.king {
  background-color: rgba(245, 245, 245, 0.7);
  box-shadow: 0 0 10px 2px;
  padding-left: 40px;
  padding-right: 40px;
  /* margin-right: 150px; */
}

.joker {
  background-repeat: no-repeat;
  margin-bottom: -20px;
  margin-top: -40px;
}

.spade {
  margin-top: -10px;
}

nav {
  background-color: white;
  opacity: 0.3;
  font-weight: bolder;
  color: black;
}
