body {
  height: 100%;
  width: 100%;
  background-image: url("../images/man-prog2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: fixed;
}

nav{
  
  opacity: 0.5;
 
}

.king {
  background-color: rgba(245, 245, 245, 0.7);
  margin-top: 50px;
  padding: 30px;
  padding-bottom: 30px;
}

.queen {
  background-color: #d08973;
}

.jack {
  color: #d08973;
}

.queen:hover {
  background-color: #d08973;
}

.joker {
  background-repeat: no-repeat;
  margin-bottom: -20px;
  margin-top: -40px;
}

.spade {
  margin-top: -10px;
}
nav{
  background-color: white;
  opacity: 0.3;
  font-weight: bolder;

/* from coolors
A5A58D

B7B7A4

CB997E

FFF1E6
F0EFEB
DDBEA9 */

/* from actual pic 
#e1d6c6
#d08973 */
