form.login {
  margin-top: 50px;
};

form.signup {
  margin-top: 50px;

};


#welcome{
  background-image: url("../images/ab724025-6e54-4847-85f0-056f436507da_200x200.png");
}
#logo {
  text-align: center;
}

h3 {
  text-align: center;

}

#subtext {
  font-size: 18pt;
  text-align: center;
}


/* from coolors
A5A58D

B7B7A4

CB997E

FFF1E6
F0EFEB
DDBEA9 */

/* from actual pic 
#e1d6c6
#d08973 */
