{{body}}
<main>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img src="/assets/images/ab724025-6e54-4847-85f0-056f436507da_200x200.png"
                    height="64px"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">

                <li><a href="/members">Main</a></li>
                <li><a href="/create">Create Job</a></li>
                <li><a href="/contactus">Contact us</a></li>
                <li><a href="/logout">log out</a></li>
            </ul>
        </div>
    </nav>
    <h1>About Us<a href="#" class="brand-logo"><img
                src="/assets/images/ab724025-6e54-4847-85f0-056f436507da_200x200.png" height="100px"></a></h1>
    <div id="container">
        <div class="row">
            <div class="col s6">
                <div class="card large">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/assets/images/andrew.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4" style="font: bold;">Andrew
                            Rodriguez<i class="material-icons right"></i></span>
                        <p><a href="https://andrewrb22.github.io/Portfolio2.0/">Github Porfolio<i
                                    class="fab fa-github"></i></a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Andrew Rodriguez<i
                                class="material-icons right">close</i></span>
                        <p>Highly experienced Full-Stack Developer with a certificate in Full Stack Web Development from
                            The University of Central Florida’s coding bootcamp.I’m Passionate about creating
                            life-enhancing user experiences and collaborating with others to develop meaningful mobile
                            and web applications.. My educational and professional background in technology, combined
                            with a passionate drive to effectively solve problems, would make me a strong addition to
                            any organization.</p>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col s6">
                <div class="card large">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://via.placeholder.com/750">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i
                                class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i
                                class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card large">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/assets/images/sarah3.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4" style="font: bold;">Sarah Iraurgui<i
                                class="material-icons right"></i></span>
                        <p><a href="https://irasar.github.io/Responsive_portfolio/">Github Porfolio<i
                                    class="fab fa-github"></i></a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Sarah Iraurgui<i
                                class="material-icons right">close</i></span>
                        <p> Hi, my name is Sarah Iraurgui. I was born and raised in sunny Florida! Motivated,
                            hardworking full stack developer with a certificate from
                            The University of Central Florida’s coding bootcamp.Available for freelance or full-time
                            work. I am a
                            self-starter who also enjoys working as part of a dynamic team.
                            I can help you better serve your clients by optimizing your web pages and designing
                            customized applications. When I am not coding, I enjoy hiking with my dog,
                            gardening, and surfing.</p>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card large">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://via.placeholder.com/750">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i
                                class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i
                                class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/members.js"></script>