{{body}}
<main class="foto">
    <div class="slider fullscreen">
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo"><img
                        src="/assets/images/ab724025-6e54-4847-85f0-056f436507da_200x200.png" height="64px"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/create">Create Job</a></li>
                    <li><a href="/members">Main</a></li>
                    <li><a href="/aboutus">About us</a></li>
                    <li><a href="/logout">log out</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">

            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold text-center mb-5" style="color:black; align-text: center">Contact Us   <a href="#" class="brand-logo"><img
                        src="/assets/images/ab724025-6e54-4847-85f0-056f436507da_200x200.png" height="100px"></a></h2>
            <!-- Section description -->
            <p class="text-center w-responsive mx-auto mb-5" style="color:black;">If you like our work, why not call us for
                 your next
                project? We could send you a free quotation and more details.</p>
                 

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-9 mb-md-0 mb-5">

                    <form>

                        <!-- Grid row -->
                        <div class="row">
                            <div class="input-field col m6 s12">
                                <input id="first_name" type="text" class="validate">
                                <label for="first_name">First Name</label>
                            </div>
                            <div class="input-field col m6 s12">
                                <input id="last_name" type="text" class="validate">
                                <label for="last_name">Last Name</label>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="input-field col m6 s12">
                                <i class="mdi-content-mail prefix"></i>
                                <input id="email" type="email" class="validate" required>
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field col m6 s12">
                                <i class="mdi-maps-store-mall-directory prefix"></i>
                                <input id="company" type="text" class="validate">
                                <label for="company">Company</label>
                            </div>
                        </div>
                        <div class="row">

                        </div>
                        <div class="row">
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="budget">Budget</label>
                                </div>
                                <br>
                                <br>
                                <div class="input-field col s12">
                                    <select class="browser-default" id="budget">
                                        <option value="" selected disabled>Choose your option</option>
                                        <option value="1">&lt; $4000</option>
                                        <option value="2">$4000 - $9000</option>
                                        <option value="3">&gt; $9000</option>
                                    </select>
                                    <br>
                                    <br>
                                    <!-- Grid column -->
                                    <div class="col-md-12">
                                        <div class="md-form">
                                            <textarea type="text" id="contact-message" class="form-control md-textarea"
                                                rows="3"></textarea>
                                            <label for="contact-message" style="color: black;">Your message</label>
                                        </div>
                                    </div>

                                </div>
                                <!-- Grid row -->

                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->

                    </form>

                    <div class="text-center text-md-left">
                        <a class="btn btn-purple btn-md waves-effect waves-light">Send</a>
                    </div>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
              
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
 <div class="row">
            
                        <div class="col s-4" style=";" id="location">
                            <i class="fa fa-map-marker fa-2x blue-text"></i>
                            <p style="color: black;">Orlando, Fl 32839, USA</p>
                        </div>
                        <div class="col s-4" id="phone">
                            <i class="fa fa-phone fa-2x mt-4 blue-text"></i>
                            <p style="color:black;">+ 01 (321) 330-9648</p>
                        </div>
                        <div class="col s4" style="align-items: center;" id="">
                            <i class="fa fa-envelope fa-2x mt-4 blue-text"></i>
                            <p class="mb-0" style="color: black;">CodingDock@mail.Developers.com</p>
                        </div>
                </div>
        </div>
    </div>
</main>