{{body}}
<main>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/members">Main</a></li>
                <li><a href="/aboutus">About us</a></li>
                <li><a href="/contactus">Contact us</a></li>
                <li><a href="/logout">log out</a></li>
            </ul>
        </div>
    </nav>

    </div>

    <div id="newJob">
        <form id="input" action="/create/jobs" method="POST">
            <label for="jobName">Job Name: </label><br>
            <input type="text" class="input" id="jobName" name="jobName" placeholder="Enter Job"><br>
            <label for="price">Price: </label><br>
            <input type="text" class="input" id="price" name="price" placeholder="Enter Price"><br><br>
            <label for="language">: </label><br>
            <input type="text" class="input" id="language" name="language" placeholder="Enter Language"><br>
            <button type="submit" class="jobSubmit">Submit</button>

        </form>

    </div>
</main>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/members.js"></script>