<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/logout">
				Logout
			</a>
		</div>
	</div>
</nav>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>Welcome <span class="member-name"></span></h2>
		</div>
	</div>
</div>

<div class="slide-container">

	<div class="wrapper">
		<div class="clash-card barbarian">
			<div class="clash-card__image clash-card__image--barbarian">
				<img src="https://p.kindpng.com/picc/s/476-4768341_javascript-logo-number-angularjs-node-javascript-transparent-background.png"
					alt="javasctiptlogo" />
			</div>
			<div class="clash-card__level clash-card__level--javascript">Gigs based on your selection</div>
			<div class="clash-card__unit-name">JavaScript</div>
			<div class="clash-card__unit-description">
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae veritatis mollitia pariatur.
				Nulla ullam blanditiis quo voluptatum illo. Dolore vitae reprehenderit qui natus earum quisquam
				deleniti enim iusto nobis possimus?
			</div>


		</div>

	</div> <!-- end clash-card barbarian-->
</div> <!-- end wrapper -->



</div> <!-- end container -->
<div class="slide-container">

	<div class="wrapper">
		<div class="clash-card html">
			<div class="clash-card__image clash-card__image--barbarian">
				<img src="https://p.kindpng.com/picc/s/23-237366_transparent-html-logo-png-png-download.png"
					alt="htmllogo" />
			</div>
			<div class="clash-card__level clash-card__level--html">Gigs based on your selection</div>
			<div class="clash-card__unit-name">HTML</div>
			<div class="clash-card__unit-description">
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae veritatis mollitia pariatur.
				Nulla ullam blanditiis quo voluptatum illo. Dolore vitae reprehenderit qui natus earum quisquam
				deleniti enim iusto nobis possimus?
			</div>



		</div>

	</div> <!-- end clash-card barbarian-->
</div> <!-- end wrapper -->



</div> <!-- end container -->
<div class="slide-container">

	<div class="wrapper">
		<div class="clash-card html">
			<div class="clash-card__image clash-card__image--barbarian">
				<img src="https://p.kindpng.com/picc/s/493-4938086_css-3-hd-png-download.png" alt="csslogo" />
			</div>
			<div class="clash-card__level clash-card__level--html">Gigs based on your selection</div>
			<div class="clash-card__unit-name">CSS</div>
			<div class="clash-card__unit-description">
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae veritatis mollitia pariatur.
				Nulla ullam blanditiis quo voluptatum illo. Dolore vitae reprehenderit qui natus earum quisquam
				deleniti enim iusto nobis possimus?
			</div>



		</div>

	</div> <!-- end clash-card barbarian-->
</div> <!-- end wrapper -->



</div> <!-- end container -->

<div class="ranking-container">
	<ul class="list-unstyled">
		<li class="media">
			<img class="d-flex rounded-circle avatar z-depth-1-half mb-3 mx-auto"
				src="https://mdbootstrap.com/img/Photos/Others/avatar-min1.jpg" alt="Generic placeholder image">
			<div class="media-body">
				<h5 class="mt-0 mb-2 font-weight-bold">Anna Smith</h5>
				<!--Review-->
				<i class="fas fa-star blue-text"> </i>
				<i class="fas fa-star blue-text"> </i>
				<i class="fas fa-star blue-text"> </i>
				<i class="fas fa-star blue-text"> </i>
				<i class="fas fa-star blue-text"> </i>
				<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
					purus
					odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
					vulputate
					fringilla.
					Donec lacinia congue felis in faucibus.</p>
			</div>
		</li>
		<li class="media my-4">
			<img class="d-flex rounded-circle avatar z-depth-1-half mb-3 mx-auto"
				src="https://mdbootstrap.com/img/Photos/Others/avatar-min2.jpg" alt="Generic placeholder image">
			<div class="media-body">
				<h5 class="mt-0 mb-2 font-weight-bold">Tom Brown</h5>
				<!--Review-->
				<i class="fas fa-star blue-text"> </i>
				<i class="fas fa-star blue-text"> </i>
				<i class="fas fa-star blue-text"> </i>
				<i class="fas fa-star blue-text"> </i>
				<i class="fas fa-star grey-text"> </i>
				<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
					purus
					odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
					vulputate
					fringilla.
					Donec lacinia congue felis in faucibus.</p>
			</div>
		</li>
		<li class="media">
			<img class="d-flex rounded-circle avatar z-depth-1-half mb-3 mx-auto"
				src="https://mdbootstrap.com/img/Photos/Others/avatar-min3.jpg" alt="Generic placeholder image">
			<div class="media-body">
				<h5 class="mt-0 mb-2 font-weight-bold">Natalie Doe</h5>
				<!--Review-->
				<i class="fas fa-star blue-text"> </i>
				<i class="fas fa-star blue-text"> </i>
				<i class="fas fa-star blue-text"> </i>
				<i class="fas fa-star grey-text"> </i>
				<i class="fas fa-star grey-text"> </i>
				<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
					purus
					odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
					vulputate
					fringilla.
					Donec lacinia congue felis in faucibus.</p>
			</div>
		</li>
	</ul>
</div>
</body>

</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/ProjectTwo/public/js/members.js"></script>