{{body}}

<main class="foto">
  <div class="slider fullscreen">
    <nav>
      <div class="nav-wrapper black-text">
        <a href="#" class="brand-logo"><img src="/assets/images/ab724025-6e54-4847-85f0-056f436507da_200x200.png"
            height="64px"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/create">Create Job</a></li>
          <li><a href="/aboutus">About Us</a></li>
          <li><a href="/contactus">Contact Us</a></li>
          <li><a href="/logout">Log Out</a></li>
        </ul>
      </div>
    </nav>
    <br>
    <ul class="indicators"><button data-language="Javascript" class="languageBtn waves-light btn-large">JavaScript <i
          class="fab fa-js-square"></i></button>
      <button data-language="Html" class="languageBtn waves-light btn-large">HTML5 <i class="fab fa-html5"></i></button>
      <button data-language="Css" class="languageBtn waves-light btn-large">CSS3 <i class="fab fa-css3-alt"></i></button>
    </ul>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div id="langTitle" class="row">
    <div class="stage">
      <img id="pageLogo" class="bounce-7" src="/assets/images/ab724025-6e54-4847-85f0-056f436507da_200x200.png" alt=""
        srcset="">
    </div>
    <h3>Pick a Language and Start Working!</h3>

    <div class="col s12" id="results">


    </div>



  </div>


</main>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/members.js"></script>