{{body}}

<main>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#mission">Mission</a></li>
        <li><a href="#aboutus">About us</a></li>
        <li><a href="#contacus">Contact us</a></li>
        <li><a href="../views/login.handlebars">log out</a></li>
      </ul>
    </div>
  </nav>
  <div data-type="javascript">
    <a class="languageBtn waves-light btn-large">javascript</a>
  </div>
  </div>
</main>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/ProjectTwo/public/js/members.js"></script>