{{body}}
 
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Welcome <span class="member-name"></span></h2>
    </div>
  </div>
</div>

<div class="slide-container">

		<div class="wrapper">
			<div class="clash-card barbarian">
				<div class="clash-card__image clash-card__image--barbarian">
					<img src="https://img.pngio.com/logo-javascript-png-transparent-logo-javascriptpng-images-pluspng-javascript-png-587_330.png"
						alt="javasctiptlogo" />
				</div>
				<div class="clash-card__level clash-card__level--barbarian">Gigs based on your selection</div>
				<div class="clash-card__unit-name">JavaScript</div>
				<div class="clash-card__unit-description">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae veritatis mollitia pariatur.
					Nulla ullam blanditiis quo voluptatum illo. Dolore vitae reprehenderit qui natus earum quisquam
					deleniti enim iusto nobis possimus?
				</div>

				<div class="clash-card__unit-stats clash-card__unit-stats--barbarian clearfix">
					<div class="one-third">
						<div class="stat">20<sup>S</sup></div>
						<div class="stat-value">Training</div>
					</div>

					<div class="one-third">
						<div class="stat">16</div>
						<div class="stat-value">Speed</div>
					</div>

					<div class="one-third no-border">
						<div class="stat">150</div>
						<div class="stat-value">Cost</div>
					</div>

				</div>

			</div> <!-- end clash-card barbarian-->
		</div> <!-- end wrapper -->



	</div> <!-- end container -->
	<script src="members.js"></script>
</body>

</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/ProjectTwo/public/js/members.js"></script>