{{body}}

<main class="foto">
  <nav>
    <div class="nav-wrapper black-text">
      <a href="#" class="brand-logo"><img src="/assets/images/ab724025-6e54-4847-85f0-056f436507da_200x200.png"
          height="64px"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/create">Create Job</a></li>
        <li><a href="/aboutus">About Us</a></li>
        {{!-- <li><a href="/contactus">Contact Us</a></li> --}}
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </div>
  </nav>


  <div id="langTitle" class="row">
    <div class="stage">
      <img id="pageLogo" class="bounce-7" src="/assets/images/ab724025-6e54-4847-85f0-056f436507da_200x200.png" alt=""
        srcset="">
    </div>
    <h3>Pick a Language and Start Working!</h3>
    <ul class="indicators"><button data-language="Javascript" class="languageBtn red waves-light btn-large">JavaScript
        <i class="fab fa-js-square"></i></button>
      <button data-language="Html" class="languageBtn red waves-light btn-large">HTML5 <i
          class="fab fa-html5"></i></button>
      <button data-language="Css" class="languageBtn red waves-light btn-large">CSS3 <i
          class="fab fa-css3-alt"></i></button>
    </ul>

    <div class="col s12" id="results">
      <h1>WELCOME!</h1>
      <p>This is a freelancing site for developers only! If you are proficiant in a certain languge, go ahead and click
        one of the buttons and contact the user to let apply for the job! Most of the jobs you will see, will be small
        freelancing jobs. However, if you have a larger scale project, go to the Contact Us page and email us your ideas
        for your custom job! This is a good way to get large scale projects on our site as well as the small scale
        freelancing jobs. You may crete a job at the top if you have a job you'd like to get done that you are unable
        to. The job will be linked to your email. When a user wants to complete your job, they will contact you via
        email and you can use the "Finish Job" button to mark to the rest of the users that this job has been taken.</p>
      <p>Good luck and happy coding! ":)"</p>
    </div>



  </div>


</main>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/members.js"></script>
