{{body}}

<main class="foto">
    <div class="slider fullscreen">
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo"><img
                        src="/assets/images/ab724025-6e54-4847-85f0-056f436507da_200x200.png" height="64px"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#mission">Mission</a></li>
                    <li><a href="#aboutus">About us</a></li>
                    <li><a href="#contacus">Contact us</a></li>
                    <li><a href="/logout">log out</a></li>
                </ul>
            </div>
        </nav>
        <ul class="indicators"><a data-language=" Javascript" class="languageBtn waves-light btn-large"><i
                    class="fab fa-js-square"></i></a>
            <a data-language="Html" class="languageBtn waves-light btn-large"><i class="fab fa-html5"></i></a>
            <a data-language="Css" class="languageBtn waves-light btn-large"><i class="fab fa-css3-alt"></i></a></ul>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <div id="results">


            </div>
        </div>


    </div>


</main>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/members.js"></script>